<% if (theme.utterance.enable)  { %>
 <div class="comments" id="comments">
   <div id="utterance-container"></div>
 </div>
 <% } %>
 
 <% if (is_post()) { %>
 <%- js('/js/pager/dist/jquery-2.1.3.min.js') %>

<script src="https://utteranc.es/client.js"
        repo="leonharetd/leonharetd-comment"
        issue-term="pathname"
        theme="github-light"  
        crossorigin="anonymous"
        async>
</script>

<% } %>