<footer>
    <div>© <%= new Date().getFullYear() %> - <%= config.author %> <% if (config.license) { %> , <%= config.license %> <% } %></div>
    <div>
        <span>
            Powered by <a href="https://hexo.io">Hexo</a>
        </span>
        ,
        <span>
            Theme - <a href="https://github.com/nameoverflow/hexo-theme-icalm">Icalm</a>
        </span>
    </div>
   <div class="busuanzi-count">
    <script>
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = '/js/pager/dist/busuanzi.pure.mini.js';
            $('.busuanzi-count').append(script)
    </script>
        <% if (theme.busuanzi && theme.busuanzi.enable){ %>
            <!-- 不蒜子统计 -->
            <span id="busuanzi_container_site_pv">
                    本站总访问量<span id="busuanzi_value_site_pv"></span>次        </span>
            <!-- <span class="post-meta-divider">|</span> -->
            <span id="busuanzi_container_site_uv" style='display:none'>
                    本站访客数<span id="busuanzi_value_site_uv"></span>人        </span>
        <% } %>
   </div>
</footer>
